.list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  width: 100px;
}

.list-item {
  padding: 16px;
  height: 15px;
  color: #666;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
}

.list-item:first-child {
  text-align-last: left;
}

.selected {
  font-weight: bold;
  color: #333;
  background-color: #fff;
}

.box {
  width: 100px;
  height: 100px;
  background-color: pink;
}

.todo-done {
  text-decoration: line-through;
}
